body {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: #f4f4f4;
}

@font-face {
  font-family: "BentonSansBBVA";
  font-weight: bold;
  src: url("fonts/BentonSansBBVA-Bold.otf") format("opentype");
  font-weight: book;
  src: url("fonts/BentonSansBBVA-Book.otf") format("opentype");
  font-weight: bookitalic;
  src: url("fonts/BentonSansBBVA-BookItalic.otf") format("opentype");
  font-weight: light;
  src: url("fonts/BentonSansBBVA-Light.otf") format("opentype");
  font-weight: medium;
  src: url("fonts/BentonSansBBVA-Medium.otf") format("opentype");
  font-weight: mediumitalic;
  src: url("fonts/BentonSansBBVA-MediumItalic.otf") format("opentype");
}
.head {
  background-color: #072146;
  height: 96px;
  display: inline-flex;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 0;
}

.head img {
  margin: auto;
}

.text-header {
  font-family: "BentonSansBBVA Light", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 2em;
  color: #121212;
  text-align: center;
  margin-top: 12%;
  font-weight: 100;
  letter-spacing: 0.02em;
}

.text-header b {
  color: #072146;
}

.container {
  margin-top: 5%;
}

.img-app img {
  width: 200%;
}

.text-app {
  padding-left: 4em;
  margin-bottom: 7%;
}

.text-app img {
  margin-right: 0.5em;
}

.title-app {
  font-family: "BentonSansBBVA Bold", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: #121212;
}

.desc-app {
  font-family: "BentonSansBBVA Book", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: #626262;
}

.qr-app {
  text-align: center;
  margin-top: 7%;
}

.qr-app img {
  width: 100%;
}

.qr-app p {
  margin-bottom: 0;
}

/* Voltear card */ 
/* entire container, keeps perspective */

.card {
  border: 0 !important;
  border-radius: 0 !important;
}

.card-container {
  -webkit-perspective: 800px;
 -moz-perspective: 800px;
   -o-perspective: 800px;
      perspective: 800px;
      margin-bottom: 30px;
}
/* flip the pane when hovered */
.card-container:not(.manual-flip):hover .card,
.card-container.hover.manual-flip .card{
-webkit-transform: rotateY( 180deg );
-moz-transform: rotateY( 180deg );
-o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}


.card-container.static:hover .card,
.card-container.static.hover .card {
-webkit-transform: none;
-moz-transform: none;
-o-transform: none;
  transform: none;
}
/* flip speed goes here */
.card {
 -webkit-transition: -webkit-transform .5s;
 -moz-transition: -moz-transform .5s;
   -o-transition: -o-transform .5s;
      transition: transform .5s;
-webkit-transform-style: preserve-3d;
 -moz-transform-style: preserve-3d;
   -o-transform-style: preserve-3d;
      transform-style: preserve-3d;
position: relative;
}

/* hide back of pane during swap */
.front, .back {
-webkit-backface-visibility: hidden;
 -moz-backface-visibility: hidden;
   -o-backface-visibility: hidden;
      backface-visibility: hidden;
position: absolute;
top: 0;
left: 0;
background-color: #FFF;
/* box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);*/
}

/* front pane, placed above back */
.front {
z-index: 2;
}

/* back, initially hidden pane */
.back {
  -webkit-transform: rotateY( 180deg );
 -moz-transform: rotateY( 180deg );
   -o-transform: rotateY( 180deg );
      transform: rotateY( 180deg );
      z-index: 3;
}

.back .btn-simple{
  position: absolute;
}

/*        Style       */


.card{
  background: none repeat scroll 0 0 #FFFFFF;
  color: #444444;
}
.card-container, .front, .back {
width: 100%;
height: 264px;
}
.card .cover{
  height: 105px;
  overflow: hidden;
}
.card .cover img{
  width: 100%;
}
.card .user{
  border-radius: 50%;
  display: block;
  height: 120px;
  margin: -55px auto 0;
  overflow: hidden;
  width: 120px;
}
.card .user img{
  background: none repeat scroll 0 0 #FFFFFF;
  border: 4px solid #FFFFFF;
  width: 100%;
}

.card .content{
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none;
  padding: 10px 20px 20px;
}
.card .content .main {
  min-height: 160px;
}
.card .back .content .main {
  height: 215px;
}
.card .name {
  font-family: 'Arima Madurai', cursive;
  font-size: 22px;
  line-height: 28px;
  margin: 10px 0 0;
  text-align: center;
  text-transform: capitalize;
}
.card h5{
  margin: 5px 0;
  font-weight: 400;
  line-height: 20px;
}
.card .profession{
  color: #999999;
  text-align: center;
  margin-bottom: 20px;
}
.card .footer {
  border-top: 1px solid #EEEEEE;
  color: #999999;
  margin: 30px 0 0;
  padding: 10px 0 0;
  text-align: center;
}
.card .footer .social-links{
  font-size: 18px;
}
.card .footer .social-links a{
  margin: 0 7px;
}
.card .footer .btn-simple{
  margin-top: -6px;
}
.card .header {
  padding: 15px 20px;
  height: 90px;
}
.card .motto{
  font-family: 'Arima Madurai', cursive;
  border-bottom: 1px solid #EEEEEE;
  color: #999999;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 10px;
  text-align: center;
}

.card .stats-container{
width: 100%;
margin-top: 50px;
}
.card .stats{
display: block;
float: left;
width: 33.333333%;
text-align: center;
}

.card .stats:first-child{
border-right: 1px solid #EEEEEE;
}
.card .stats:last-child{
border-left: 1px solid #EEEEEE;
}
.card .stats h4{
  font-family: 'Arima Madurai', cursive;
font-weight: 300;
margin-bottom: 5px;
}
.card .stats p{
color: #777777;
}
/*      Just for presentation        */

.title{
  color: #506A85;
  text-align: center;
  font-weight: 300;
  font-size: 44px;
  margin-bottom: 90px;
  line-height: 90%;
}
.title small{
  font-size: 17px;
  color: #999;
  text-transform: uppercase;
  margin: 0;
}
.space-30{
height: 30px;
display: block;
}
.space-50{
  height: 50px;
  display: block;
}
.space-200{
  height: 200px;
  display: block;
}
.white-board{
  background-color: #FFFFFF;
  min-height: 200px;
  padding: 60px 60px 20px;
}
.ct-heart{
  color: #F74933;
}

pre.prettyprint{
  background-color: #ffffff;
  border: 1px solid #999;
  margin-top: 20px;
  padding: 20px;
  text-align: left;
}
.atv, .str{
  color: #05AE0E;
}
.tag, .pln, .kwd{
   color: #3472F7;
}
.atn{
color: #2C93FF;
}
.pln{
 color: #333;
}
.com{
  color: #999;
}

.btn-simple{
  color: #fff;
  background-color: #1D73B2;
  height: 32px;
  border-radius: 0;
  border: 0;
  font-size: .8em;
  background: linear-gradient(100deg, #1464A5 0%, #1464A5 50%, #1973b8 50%, #1973b8 100%);
  background-size: 210% 100%;
  background-position:right bottom;
  transition:all 200ms ease;
}

.btn-simple:hover,
.btn-simple:focus{
  background-color: #004481;
  box-shadow: none;
  color: white;
  background-position:left bottom;
}

.btn-simple i{
  font-size: 16px;
}

.navbar-brand-logo{
  padding: 0;
}
.navbar-brand-logo .logo{
  border: 1px solid #333333;
  border-radius: 50%;
  float: left;
  overflow: hidden;
  width: 60px;
}
.navbar .navbar-brand-logo .brand{
  color: #FFFFFF;
  float: left;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  margin-left: 10px;
  margin-top: 10px;
  width: 60px;
}
.navbar-default .navbar-brand-logo .brand{
  color: #555;
}


/*       Fix bug for IE      */

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .front, .back{
      -ms-backface-visibility: visible;
      backface-visibility: visible;
  }

  .back {
      visibility: hidden;
      -ms-transition: all 0.2s cubic-bezier(.92,.01,.83,.67);
  }
  .front{
      z-index: 4;
  }
  .card-container:not(.manual-flip):hover .back,
  .card-container.manual-flip.hover .back{
      z-index: 5;
      visibility: visible;
  }
}
 
.btn-back {
  position: absolute;
  top: 0;
  right: 0;
  float: right;
}

/* Rate system */

fieldset, label { margin: 0; padding: 0; }

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
  margin-top: -7%;
  margin-left: -2%;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: .9em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 


/* Media queries */ 
@media (max-width: 800px) {
  .card-container, .front, .back {
    width: 100%;
    height: auto;
  }
  .text-header {
    margin-top: 15%;
  }
  .img-app img {
    width: 150%;
    margin-top: 25%;
  }
  .img-app {
    text-align: center;
    margin: 0 0 0 -5%;
  }
  .text-app {
    padding-left: 1em;
    margin-bottom: 7%;
  }
  .hide-sm {
    display: none;
  }
  .qr-app {
    margin-bottom: 7%;
    margin-top: 7%;
  }
  .card-tres {
    margin-top: 27%;
  }
  .card-cuatro {
    margin-top: 27%;
  }
  .card-cinco {
    margin-top: 27%;
  }
  .card-seis {
    margin-top: 27%;
  }
}

@media (max-width: 767px){
  .card-container, .front, .back {
    width: 100%;
    height: auto;
  }
  .text-header {
    font-size: 1.2em;
    margin-top: 35%;
  }
  .text-app {
    margin-bottom: 7%;
    padding: auto;
    text-align: center;
  }
  .img-app {
    text-align: center;
    margin: 0;
  }
  .img-app img {
    width: 50%;
    margin-top: 0;
  }
  .hide-sm {
    display: none;
  }
  .qr-app {
    margin-bottom: 7%;
  }
  .rating  {
    margin-left:35%;
    margin-top: -5%;
  }
  .card-tres {
    margin-top: 90%;
  }
  .card-cuatro {
    margin-top: 90%;
  }
  .card-cinco {
    margin-top: 90%;
  }
  .card-seis {
    margin-top: 90%;
  }
}
@media (max-width: 430px) {
  .card-container, .front, .back {
    width: 100%;
    height: auto;
  }
  .text-header {
    font-size: 1.2em;
    margin-top: 35%;
  }
  .text-app {
    margin-bottom: 7%;
    padding: auto;
    text-align: center;
  }
  .img-app {
    text-align: center;
    margin: 0;
  }
  .img-app img {
    width: 50%;
    margin-top: 0;
  }
  .hide-sm {
    display: none;
  }
  .qr-app {
    margin-bottom: 7%;
  }
  .rating  {
    margin-left:35%;
    margin-top: -5%;
  }
  .card-tres {
    margin-top: 90%;
  }
  .card-cuatro {
    margin-top: 90%;
  }
  .card-cinco {
    margin-top: 90%;
  }
  .card-seis {
    margin-top: 90%;
  }
}

@media (max-width: 380px) {
  .rating  {
    margin-left:30%;
  }
  .card-tres {
    margin-top: 95%;
  }
  .card-cuatro {
    margin-top: 95%;
  }
  .card-cinco {
    margin-top: 95%;
  }
  .card-seis {
    margin-top: 95%;
  }
}

@media (max-width: 325px) {
  .rating  {
    margin-left:25%;
  }
  .card-tres {
    margin-top: 100%;
  }
  .card-cuatro {
    margin-top: 100%;
  }
  .card-cinco {
    margin-top: 100%;
  }
  .card-seis {
    margin-top: 100%;
  }
}